.homePage {
  max-width: 1300px;
  height: 100vh;
  position: fixed;
  margin-left: 100px;
}
.activMovie {
  height: 72%;
  width: 100%;
  display: flex;
  align-items: center;
}


.homePage .cover {
  display: flex;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 72%;
}
.videoContainer {
  width: 100%;
}
.videoContainer > video {
  width: 100%;
}
.homePage .cover .imageContainer {
  width: 100%;
  height: 100%;
}
.homePage .cover .imageContainer img {
  position: relative;
  width: 100%;
  height: 100%;
}
.homePage .infoMovie {
  position: relative;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.infoMovie .category {
  color: cadetblue;
  font-size: 18px;
}
.infoMovie p {
  font-size: 20px;
  padding: 5px 0;
}
.infoMovie h1 {
  display: flex;
  text-transform: uppercase;
  align-items: center;
}
.Irishman {
  font-size: 45px;
  margin-left: 10px;
}
.btn_box {
  display: flex;
  width: 320px;
  justify-content: space-between;
  margin-top: 10px;
}
.btn-One {
  display: flex;
  width: 120px;
  padding: 10px;

  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}
.btn-Two {
  width: 150px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  background-color: blue;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  color: aliceblue;
}
.btn-One img {
  width: 10px;
  justify-content: space-around;
}
